{% extends 'base_simple.jinja' %}

{% block title %}О нас{% endblock %}

{% block name %}
    О нас
{% endblock %}

{% block description %}
    Мы - магазин мерчандайза для сотрудников. Продаём различный мерч брендированный под нас.
{% endblock %}

{% block buttons %}
    <a class="btn btn-outline-primary btn-lg" href="/">Главная</a>
    <a class="btn btn-outline-primary btn-lg" href="/catalog">Каталог</a>
    <div class="mt-1">
        <a class="btn btn-outline-secondary btn-lg" href="/about">О нас</a>
        <a class="btn btn-outline-secondary btn-lg" href="/contacts">Контакты</a>
        <a class="btn btn-outline-secondary btn-lg" href="/dev">Разработчикам</a>
    </div>
{% endblock %}

