{% extends 'base_simple.jinja' %}

{% block title %}О нас{% endblock %}

{% block name %}
    О нас
{% endblock %}

{% block description %}
    <p class="text-danger">
        Данный сайт не является коммерческим!
    </p>
    Мы - магазин мерчандайза для сотрудников. Продаём различный мерч брендированный под нас.
{% endblock %}

{% block buttons %}
    <a class="btn btn-outline-primary btn-lg" href="{{ url_for('root.index') }}">Главная</a>
    <a class="btn btn-outline-primary btn-lg" href="{{ url_for('catalog.index') }}">Каталог</a>
    <div class="mt-1">
        <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('root.contacts') }}">Контакты</a>
        <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('faq.index') }}">ЧАВО</a>
        <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('dev_docs.index') }}">Разработчикам</a>
    </div>
{% endblock %}

