{% extends 'base_simple.jinja' %}

{% block title %}Контакты{% endblock %}

{% block name %}
    Контакты
{% endblock %}

{% block description %}
    На данный момент способов связи нет.
{% endblock %}

{% block buttons %}
    <a class="btn btn-outline-primary btn-lg" href="/catalog">Каталог</a>
    <a class="btn btn-outline-primary btn-lg" href="/categories">Категории товаров</a>
    <a class="btn btn-outline-secondary btn-lg" href="/about">О нас</a>
    <a class="btn btn-outline-secondary btn-lg" href="/dev">Разработчикам</a>
{% endblock %}

