{% extends 'base.jinja' %}

{% block title %}Контакты{% endblock %}

{% block body %}
<div class="container text-center py-5 ">
    <div class="row position-relative py-5">
        <div class="col-lg mx-auto">
            <h1 class="display-1 mb-5">Контакты</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg mx-auto mt-5">
            <h1 class="mb-5 display-4">На данный момент способов связи нет.</h1>
            <a class="btn btn-outline-primary btn-lg" href="/catalog">Каталог</a>
            <a class="btn btn-outline-primary btn-lg" href="/categories">Категории товаров</a>
            <a class="btn btn-outline-secondary btn-lg" href="/about">О нас</a>
            <a class="btn btn-outline-secondary btn-lg" href="/dev">Разработчикам</a>
        </div>
    </div>
</div>
{% endblock %}