{% extends 'base_simple.jinja' %}

{% block title %}Контакты{% endblock %}

{% block name %}
    Контакты
{% endblock %}

{% block description %}
    <p class="text-danger">
        Данный сайт не является коммерческим!
    </p>
    <p>
        Разработано для <i>Самарского Хакатона IT.</i>
    </p>
    <div class="row">
        <div class="col">
            <a href="https://github.com/kirillzhosul/web-merchandise-shop" target="_blank">Исходный код</a> (<b>MIT</b>)
        </div>
        <div class="col">
            (c) 2022 <a href="https://kirillzhosul.github.io" target="_blank">Кирилл Жосул</a><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-primary btn-lg" href="{{ url_for('legal.privacy') }}">Политика конфиденциальности</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-primary btn-lg" href="{{ url_for('legal.agrement') }}">Пользовательское соглашение</a>
        </div>
    </div>

{% endblock %}

{% block buttons %}
    <a class="btn btn-outline-primary btn-lg" href="{{ url_for('root.index') }}">Главная</a>
    <a class="btn btn-outline-primary btn-lg" href="{{ url_for('catalog.index') }}">Каталог</a>
    <div class="mt-1">
        <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('root.about') }}">О нас</a>
        <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('faq.index') }}">ЧАВО</a>
        <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('dev_docs.index') }}">Разработчикам</a>
    </div>
{% endblock %}

