{% extends 'base.jinja' %}

{% block title %}Главная{% endblock %}

{% block body %}
<div class="container text-center py-5 ">
    <div class="row position-relative py-5">
        <div class="col-lg mx-auto">
            <h6 class="text-uppercase text-primary">Добро пожаловать к нам</h6>
            <h1 class="display-1 mb-5">Магазин мерча<br>для <b>своих</b></h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg mx-auto mt-5">
            <h1 class="mb-5 display-4">Одежда, аксессуары, и <b>многое</b> другое для <b>сотрудников</b></h1>
            <a class="btn btn-outline-primary btn-lg" href="/catalog">Каталог</a>
            <a class="btn btn-outline-primary btn-lg" href="/categories">Категории товаров</a>
            <div class="mt-1">
                <a class="btn btn-outline-secondary btn-lg" href="/about">О нас</a>
                <a class="btn btn-outline-secondary btn-lg" href="/contacts">Контакты</a>
                <a class="btn btn-outline-secondary btn-lg" href="/dev">Разработчикам</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}