{% extends 'base_simple.jinja' %}

{% block title %}Главная{% endblock %}

{% block subname %}
    Добро пожаловать к нам<br>
{% endblock %}

{% block name %}
    <div class="display-3">
        Магазин мерча<br>для <b>своих</b>
    </div>
{% endblock %}

{% block description %}
    <span class="text-danger">
        Данный сайт не является коммерческим!
    </span><br>
    Одежда, аксессуары, и <b>многое</b> другое для <b>сотрудников</b>
{% endblock %}

{% block buttons %}
    <a class="btn btn-outline-primary btn-lg" href="{{ url_for('catalog.index') }}">Каталог</a>
    <a class="btn btn-outline-primary btn-lg" href="{{ url_for('catalog.categories') }}">Категории товаров</a>
    <div class="mt-1">
        <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('root.about') }}">О нас</a>
        <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('root.contacts') }}">Контакты</a>
        <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('faq.index') }}">ЧАВО</a>
        <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('dev_docs.index') }}">Разработчикам</a>
    </div>
{% endblock %}

