{% extends 'base_simple.jinja' %}

{% block title %}Главная{% endblock %}

{% block subname %}
    Добро пожаловать к нам
{% endblock %}

{% block name %}
    Магазин мерча<br>для <b>своих</b>
{% endblock %}

{% block description %}
    Одежда, аксессуары, и <b>многое</b> другое для <b>сотрудников</b>
{% endblock %}

{% block buttons %}
    <a class="btn btn-outline-primary btn-lg" href="/catalog">Каталог</a>
    <a class="btn btn-outline-primary btn-lg" href="/categories">Категории товаров</a>
    <div class="mt-1">
        <a class="btn btn-outline-secondary btn-lg" href="/about">О нас</a>
        <a class="btn btn-outline-secondary btn-lg" href="/contacts">Контакты</a>
        <a class="btn btn-outline-secondary btn-lg" href="/dev">Разработчикам</a>
    </div>
{% endblock %}

