{% extends 'base.jinja' %}

{% block title %}О нас{% endblock %}

{% block body %}
<div class="container text-center py-5 ">
    <div class="row position-relative py-5">
        <div class="col-lg mx-auto">
            <h1 class="display-1 mb-5">О нас</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg mx-auto mt-5">
            <h1 class="mb-5 display-4">Мы - магазин мерчандайза для сотрудников. Продаём различный мерч брендированный под нас.</h1>
            <a class="btn btn-outline-primary btn-lg" href="/catalog">Каталог</a>
            <a class="btn btn-outline-primary btn-lg" href="/categories">Категории товаров</a>
            <a class="btn btn-outline-secondary btn-lg" href="/contacts">Контакты</a>
        </div>
    </div>
</div>
{% endblock %}