{% extends 'base.jinja' %}

{% block body %}
    <div class="container-fluid text-center py-5 ">
        <div class="row position-relative py-4">
            <div class="col-lg-5 mx-auto">
                <h6 class="text-uppercase text-primary">{% block subname %}{% endblock %}</h6>
                <h1 class="display-1 mb-5">{% block name %}{% endblock %}</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-8 mx-auto mt-5">
                <h1 class="mb-5 display-4">{% block description %}{% endblock %}</h1>
                <hr>
                {% block buttons %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}



