{% extends 'base.jinja' %}

{% block title %}Главная{% endblock %}

{% block body %}
<div class="container text-center py-5 ">
    <div class="row position-relative">
        <div class="col-lg mx-auto">
            <h1 class="display-4">Категории товаров</h1>
            <a class="btn btn-primary text-light" href="{{ url_for('catalog.index') }}">В каталог</a>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid text-center">
    <div class="row mx-5">
        {% for category in categories %}
            <div class="col-lg-2 mb-5">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="https://picsum.photos/200?{{category.id}}" alt="{{ category.title }}">
                        <h3 class="card-title">{{ category.title|truncate(16, True) }}</h3>
                        <a class="btn btn-primary text-light" href="{{ url_for('catalog.index') }}?cid={{ category.id }}">Открыть каталог</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}