{% extends 'base.jinja' %}

{% block title %}Главная{% endblock %}
{% block search %}{% endblock%}

{% block body %}
<div class="container text-center py-5 ">
    <div class="row position-relative">
        <div class="col-lg mx-auto">
            <h1 class="display-4 mb-5">Каталог товаров</h1>
        </div>
    </div>

    <div class="row position-relative">
        <div class="col-lg-4 mx-auto">
            <form method="GET" action="/catalog">
                <input class="form-control" type="search" name="q" placeholder="Запрос" aria-label="Запрос" value="{{ query }}">
                <button class="btn btn-outline-primary mt-1" type="submit">Найти</button>
            </form>
            <h6 class="mt-3">
                По запросу <b>{{ query }}</b> найдено {{ count }} товаров.
            </h6>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="col-lg-4 mx-auto">
        {% for item in items %}
            <div class="card">
                {{ item.title }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}