{% extends 'base.jinja' %}

{% block title %}{{ item.title }}{% endblock %}

{% block body %}
<div class="container text-center py-5 ">
    <div class="row position-relative mb-5">
        <div class="col-lg mx-auto">
            <h1 class="display-3">{{ item.title }}</h1>
            <h5><a href="/catalog?cid={{ item.category_id }}" class="link-dark"><i>{{ item.get_category_title() }}</i><br></a></h5>

            <img class="card-img-top w-50" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17ed5db9200%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17ed5db9200%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="{{ item.title }}">

            {% set price = item.get_price_with_discount() %}
            {% set scores = item.get_scores() %}
            <h4 class="mt-2">{{ price[0] }}₽ {% if price[1] > 0 %}<span class="text-danger">- {{ price[1] }}%</span> {% endif %}</h4>
            <a href="#reviews">{{ scores[2] }} отзывов </a><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg mx-auto">
            <h4 class="mb-5">{{ item.description }}</h4>
            <a class="btn btn-outline-primary btn-lg" onclick="{}">В корзину</a>
            <a class="btn btn-outline-primary btn-lg" href="/catalog">Назад в каталог</a>
        </div>
    </div>
</div>
{% endblock %}