{% extends 'dev/base.jinja' %}

{% block name %}
    Сторонние клиенты
{% endblock %}

{% block description %}
    На данный момент, сайт не имеет законченного API для разработки полноценного стороннего клиента. На сайте отсуствует API для получения каталогов / категорий и похожего, что не позволяет реализовать такие базовые механики как каталог / поиск.
{% endblock %}

