{% extends 'base_simple.jinja' %}

{% block title %}Зарегистрировать новый аккаунт{% endblock %}

{% block include %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/api.js')}}"></script>
    <script src="{{ url_for('static', filename='js/auth.js')}}"></script>

    <script>
        function register(){
            var password = document.getElementById("password").value;
            var password_confirmation = document.getElementById("password_confirmation").value;

            var name = document.getElementById("name").value;
            var phone = document.getElementById("phone").value;
            var email = document.getElementById("email").value;

            if (email.length == 0) return document.getElementById("api-error-message").innerText = "Введите почту!";
            if (password.length == 0) return document.getElementById("api-error-message").innerText = "Введите пароль!";
            if (password_confirmation.length == 0) return document.getElementById("api-error-message").innerText = "Введите подтверждение пароля!";
            if (name.length == 0) return document.getElementById("api-error-message").innerText = "Введите имя!";
            if (phone.length == 0) return document.getElementById("api-error-message").innerText = "Введите телефон!";

            authRegister(name, phone, email, password, password_confirmation);
        }
    </script>
{% endblock %}

{% block subname %}
    Авторизация
{% endblock %}

{% block name %}
    <div class="display-3">
        Регистрация
    </div>
{% endblock %}

{% block description %}
    <div class="text-danger" id="api-error-message"></div>
    <input type="text" id="name" class="form-control-lg" placeholder="ФИО"><br>
    <input type="email" id="email" class="form-control-lg" placeholder="Почта">
    <input type="text" id="phone" class="form-control-lg" placeholder="Телефон"><br>

    <input type="password" id="password" class="form-control-lg" placeholder="Пароль">
    <input type="password" id="password_confirmation" class="form-control-lg" placeholder="Подтверждение пароля"><br>
    <span class="btn btn-primary btn-lg" onclick="register()">Зарегистрироваться</span>
{% endblock %}

{% block buttons %}
    <a class="btn btn-outline-primary btn-lg" href="{{ url_for('legal.privacy') }}">Политика конфиденциальности</a>
    <a class="btn btn-outline-primary btn-lg" href="{{ url_for('legal.agreement') }}">Пользовательское соглашение</a>
{% endblock %}

