{% extends 'dev/base.jinja' %}

{% block name %}
    Разработчикам
{% endblock %}

{% block description %}
    Сайт имеет публичный <b>API</b>, с помощью которого вы можете интегрировать возможности сайта в свой продукт
{% endblock %}
