{% extends 'dev/base.jinja' %}

{% block name %}
    Методы
{% endblock %}

{% block description %}
<p class="text-muted">
    Для запросов к API используйте конструкцию:
    <b>GET "/api/auth/login"</b>
</p>
<div class="row justify-content-center">
    <div class="col-auto">
      <table class="table table-responsive">
          <tr>
            <th>Авторизация (auth)</th>
          </tr>
          <tr>
            <td>auth.login</td>
          </tr>
          <tr>
            <td>auth.register</td>
          </tr>
          <tr>
            <td>auth.logout</td>
          </tr>


          <tr>
            <th>Баланс (balance)</th>
          </tr>
          <tr>
            <td>balance.get</td>
          </tr>
          <tr>
            <td>balance.topup</td>
          </tr>

          <tr>
            <th>Заказ (order)</th>
          </tr>
          <tr>
            <td>order.pay</td>
          </tr>

          <tr>
            <th>Избранное (favorites)</th>
          </tr>
          <tr>
            <td>favorites.add</td>
          </tr>
          <tr>
            <td>favorites.get</td>
          </tr>
          <tr>
            <td>favorites.remove</td>
          </tr>


          <tr>
            <th>Корзина (cart)</th>
          </tr>
          <tr>
            <td>cart.add</td>
          </tr>
          <tr>
            <td>cart.get</td>
          </tr>
          <tr>
            <td>cart.order</td>
          </tr>
          <tr>
            <td>cart.remove</td>
          </tr>
          <tr>
            <td>cart.clear</td>
          </tr>
      </table>
    </div>
</div>
{% endblock %}

