{% extends 'base.jinja' %}

{% block title %}Корзина{% endblock %}

{% block include %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/api.js')}}"></script>
    <script src="{{ url_for('static', filename='js/cart.js')}}"></script>
{% endblock %}

{% set cart_price, cart_count = current_user.get_cart() %}

{% block body %}
<div class="container text-center py-5 ">
    <div class="row position-relative">
        <div class="col-lg mx-auto">
            <h1 class="display-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                  <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                </svg>
                Корзина
            </h1>
            {% if cart_count > 0 %}
                <h4>Всего {{ cart_count }} товаров на сумму {{ cart_price }}₽</h4>
                <div class="mt-4">
                    <a class="btn btn-primary text-light btn-lg" href="{{ url_for('catalog.index') }}">В каталог</a>
                    <a class="btn btn-success btn-lg text-light" onclick="orderCart()">Оформить заказ</a>
                    <a class="btn btn-warning btn-lg text-light" onclick="clearCart()">Очистить корзину</a>
                </div>
            {% endif %}
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    {% if cart_count > 0 %}
        <div class="row mx-5">
            {% for cart_item in user.cart_items %}
                {% set price = cart_item.item.get_price_with_discount() %}
                {% set scores = cart_item.item.get_scores() %}
                <div class="col-2 mb-5" id="cart-item-{{ cart_item.id }}">
                    <div class="card">
                        <div class="card-header">
                            <img class="card-img-top" src="https://picsum.photos/200?{{cart_item.id}}" alt="{{ cart_item.item.title }}">
                            <h3><a href="{{ url_for('item.index') }}?id={{ cart_item.item.id }}" class="link-dark">{{ cart_item.item.title|truncate(16, True) }}</a></h3>
                            <h4 class="mt-2">
                                <b>{{ price[0] }}</b>₽
                                {% if price[1] > 0 %}
                                    <strike class="text-muted">{{ price[2] }}₽</strike>
                                    <br>
                                    <span class="text-danger">- {{ price[1] }}%</span>
                                {% endif %}
                                x {{ cart_item.quantity }}
                            </h4>

                        </div>
                        <div class="card-body">
                            <a class="btn btn-warning text-light" onclick="removeFromCart({{ cart_item.id }})">Удалить</a>
                        </div>


                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1 class="text-warning">Ваша корзина пуста!</h1>
         <a class="btn btn-primary text-light btn-lg" href="{{ url_for('catalog.index') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
             Искать товары
         </a>
    {% endif %}
</div>
{% endblock %}