{% extends 'base.jinja' %}

{% block title %}Избранное{% endblock %}

{% block include %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/api.js')}}"></script>
    <script src="{{ url_for('static', filename='js/favorite.js')}}"></script>
    <script src="{{ url_for('static', filename='js/cart.js')}}"></script>
{% endblock %}

{% block body %}
<div class="container text-center py-5 ">
    <div class="row position-relative">
        <div class="col-lg mx-auto">
            <h1 class="display-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                  <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                  <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
                </svg>
                Избранное
            </h1>
            {% if favorites_count > 0 %}
                <h4>Всего {{ favorites_count }} избранных товаров</h4>
                <div class="mt-4">
                    <a class="btn btn-primary text-light btn-lg" href="{{ url_for('catalog.index') }}">В каталог</a>
                </div>
            {% endif %}
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    {% if favorites_count > 0 %}
        <div class="row mx-5">
            {% for favorite_item in user.favorite_items %}
                {% set price = favorite_item.item.get_price_with_discount() %}
                {% set scores = favorite_item.item.get_scores() %}
                <div class="col-2 mb-5" id="favorite-item-{{ favorite_item.id }}">
                    <div class="card">
                        <div class="card-header">
                            <img class="card-img-top" src="https://picsum.photos/200?{{favorite_item.id}}" alt="{{ favorite_item.item.title }}">
                            <h3><a href="{{ url_for('item.index') }}?id={{ favorite_item.item.id }}" class="link-dark">{{ favorite_item.item.title|truncate(16, True) }}</a></h3>
                            <h4 class="mt-2">
                                <b>{{ price[0] }}</b>₽
                                {% if price[1] > 0 %}
                                    <strike class="text-muted">{{ price[2] }}₽</strike>
                                    <br>
                                    <span class="text-danger">- {{ price[1] }}%</span>
                                {% endif %}
                            </h4>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-primary text-light" onclick="addToCart({{ favorite_item.item.id }})">В корзину</a>
                            <a class="btn btn-warning text-light" onclick="removeFromFavorites({{ favorite_item.id }})">Удалить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1 class="text-warning">У вас нет избранных товаров!</h1>
         <a class="btn btn-primary text-light btn-lg" href="{{ url_for('catalog.index') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
             Искать товары
         </a>
    {% endif %}
</div>
{% endblock %}