{% extends 'base.jinja' %}

{% block title %}Личный кабинет{% endblock %}

{% block include %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/api.js')}}"></script>
    <script>
        function topup(){
            requestApi("balance/topup", "", function (data, status){
                if ("payment_service_url" in data){
                    var win = window.open(data["payment_service_url"], "_blank", "location=no");
                }
            }, true);
        }
    </script>
{% endblock %}

{% block body %}
<div class="container text-center py-5 ">
    <div class="row position-relative mb-5">
        <div class="col-lg mx-auto">
            <h1 class="display-3">Личный кабинет клиента</h1>
            <div class="text-danger" id="api-error"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col mx-auto">
            <span class="btn btn-secondary btn-lg disabled mb-1">Баланс</span>
            <br>

            <span class="btn btn-outline-secondary btn-lg disabled">Реальный баланс
                <span class="badge badge-light">{{ user.balance_real }}₽</span>
                <a class="badge badge-light" href="{{ url_for('faq.page', name='balance/real') }}">?</a>
            </span>
            <br>
            <span class="btn btn-outline-secondary btn-lg disabled mt-1">Бонусный баланс
                <span class="badge badge-light">{{ user.balance_bonus }}₽</span>
                <a class="badge badge-light" href="{{ url_for('faq.page', name='balance/bonus') }}">?</a>
            </span>
            <br>
            <span class="btn btn-outline-success btn-lg mt-1" onclick="topup()">
                Пополнить...
            </span>
        </div>

        <div class="col mx-auto">
            <span class="btn btn-primary btn-lg disabled mb-1">Навигация</span>
            <br>

            <a class="btn btn-outline-primary btn-lg mb-1" href="{{ url_for('profile.orders') }}">Ваши заказы</a>
            <a class="btn btn-outline-primary btn-lg mb-1" href="{{ url_for('profile.cart') }}">Ваша корзина</a><br>
            <a class="btn btn-outline-primary btn-lg mb-1" href="{{ url_for('profile.favorites') }}">Ваши избранные товары</a><br><br>
            <a class="btn btn-outline-primary btn-lg mb-1" href="{{ url_for('catalog.index') }}">Каталог</a>
            <a class="btn btn-outline-primary btn-lg mb-1" href="{{ url_for('faq.index') }}">ЧАВО</a><br>
        </div>

        <div class="col mx-auto">
            <span class="btn btn-secondary btn-lg disabled mb-1">Персональная информация</span>
            <br>

            <span class="btn btn-outline-secondary btn-lg disabled">Имя <span class="badge badge-dark">{{ user.name }}</span></span><br>
            <span class="btn btn-outline-secondary btn-lg disabled mt-1">Почта <span class="badge badge-dark">{{ user.email }}</span></span><br>
            <span class="btn btn-outline-secondary btn-lg disabled mt-1">Телефон <span class="badge badge-dark">{{ user.phone }}</span></span>
        </div>


    </div>
    <div class="mt-5">
        <a class="btn btn-danger btn-lg mb-1" href="{{ url_for('auth.logout') }}">Выйти</a>
    </div>

</div>
{% endblock %}