{% extends 'base.jinja' %}

{% block title %}Заказы{% endblock %}
{% block include %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/api.js')}}"></script>
    <script src="{{ url_for('static', filename='js/order.js')}}"></script>
{% endblock %}

{% block body %}
<div class="container text-center py-5 ">
    <div class="row position-relative">
        <div class="col-lg mx-auto">
            <h1 class="display-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                  <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                </svg>
                Заказы
            </h1>
            <a class="btn btn-primary text-light btn-lg" href="{{ url_for('catalog.index') }}">В каталог</a>
            <a class="btn btn-primary text-light btn-lg" href="{{ url_for('faq.page', name='orders') }}">Помощь</a>
        </div>
    </div>
    <hr>
</div>
<div class="container-fluid text-center">
    <div class="row mx-5">
        {% for order in user.orders %}
            {% set price = order.get_price() %}
            <div class="col-3 mb-5" id="order-{{ order.id }}">
                <div class="card">
                    <div class="card-header">
                        <p class="display-4">Заказ №{{ order.get_uid() }}</p>
                       {% if order.get_status().is_awaiting_payment() %}
                            {% if user.get_balance() < price %}

                                <p class="btn btn-success disabled">
                                    Оплатить
                                    <span class="badge badge-danger">Не хватает {{ price - user.get_balance()}}₽</span>
                                </p>
                            {% else %}
                                <p class="btn btn-success" onclick="orderPay({{ order.id }})">
                                    Оплатить
                                </p>
                            {% endif %}
                        {% endif %}
                        <h3>
                            <span class="badge badge-{{ order.get_status().get_color() }}">
                                {{ order.get_status() }}
                            </span>
                            <span class="badge badge-primary"> <b>{{ price }}₽</b> x <b>{{ order.get_quantity() }}</b><br></span>
                        </h3>
                        <span class="badge badge-dark">от {{ order.get_date_created() }}</span>
                        <span class="badge badge-dark">
                            {{ order.get_delivery_type() }}
                        </span>
                    </div>

                    <div class="card-body">
                        {% for order_item in order.items %}
                           <a class="btn btn-outline-primary text-dark mb-1" href="{{ url_for('item.index') }}?id={{ order_item.item_id }}">
                                {{ order_item.item.title|truncate(16, True) }}
                                <b>{{ order_item.price }}₽</b> x <b>{{ order_item.quantity }}</b><br>
                           </a>
                        {% endfor %}<br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}