{% extends 'base_simple.jinja' %}

{% block title %}ЧАВО | Справка{% endblock %}

{% block subname %}
    <b>Справка</b>
{% endblock %}

{% block name %}
    ЧАВО
{% endblock %}

{% block description %}
    Здесь вы можете найти ответы на интересующие вас вопросы по работе сайта!
{% endblock %}

{% block buttons %}
    <a class="btn btn-outline-primary btn-lg disabled" href="/faq/orders">Заказы</a>
    <div class="mt-1">
        <a class="btn btn-outline-primary btn-lg disabled" href="/faq/balance/real">Баланс</a>
        <a class="btn btn-outline-primary btn-lg disabled" href="/faq/balance/bonus">Бонусный баланс</a>
    </div>
{% endblock %}

