{% extends 'base.jinja' %}

{% block title %}Пользовательское Соглашение{% endblock %}

{% set domain = "<span class='text-warning'>shop.kirillzhosul.site</span>" %}

{% block body %}
<div class="container text-center py-5 ">
    <div class="row position-relative mb-5">
        <div class="col-lg-15 mx-auto">
            <h1 class="display-3">Пользовательское Соглашение</h1>
        </div>
    </div>
    <hr>
    <div class="mx-auto">
        Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем
        {{ domain}} (далее Магазин или Администрация) с одной стороны и пользователем сайта с другой.
        Сайт Магазин не является средством массовой информации.

        Используя сайт, Вы соглашаетесь с условиями данного соглашения.
        Если Вы не согласны с условиями данного соглашения, не используйте сайт Магазин!

        Предмет соглашения
        Администрация предоставляет пользователю право на размещение на сайте следующей информации:

        Предмет соглашения
        Администрация предоставляет пользователю право на размещение на сайте следующей информации:
        - Текстовой информации
        - Аудиоматериалов
        - Видеоматериалов
        - Фотоматериалов
        - Ссылок на материалы, размещенные на других сайтах

        Права и обязанности сторон
        Пользователь имеет право:
        - осуществлять поиск информации на сайте
        - получать информацию на сайте
        - создавать информацию для сайта
        - распространять информацию на сайте
        - комментировать контент, выложенный на сайте
        - изменять рейтинг пользователей
        - копировать информацию на другие сайты с указанием источника
        - использовать информацию сайта в личных некоммерческих целях

        Администрация имеет право:
        - по своему усмотрению и необходимости создавать, изменять, отменять правила
        - ограничивать доступ к любой информации на сайте
        - создавать, изменять, удалять информацию
        - удалять учетные записи
        - отказывать в регистрации без объяснения причин

        Пользователь обязуется:
        - обеспечить достоверность предоставляемой информации
        - обеспечивать сохранность личных данных от доступа третьих лиц
        - обновлять Персональные данные, предоставленные при регистрации, в случае их изменения
        - не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность
        - не нарушать работоспособность сайта
        - не создавать несколько учётных записей на Сайте, если фактически они принадлежат одному и тому же лицу
        - не совершать действия, направленные на введение других Пользователей в заблуждение
        - не передавать в пользование свою учетную запись и/или логин и пароль своей учетной записи третьим лицам
        - не регистрировать учетную запись от имени или вместо другого лица за исключением случаев, предусмотренных законодательством РФ
        - не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ
        - не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами

        Администрация обязуется:
        - поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам.
        - осуществлять разностороннюю защиту учетной записи Пользователя
        - защищать информацию, распространение которой ограничено или запрещено законами путем вынесения предупреждения либо удалением учетной записи пользователя, нарушившего правила
        - предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной власти в случаях, установленных законом

        Ответственность сторон
        - пользователь лично несет полную ответственность за распространяемую им информацию
        - администрация не несет никакой ответственности за достоверность информации, скопированной из других источников
        - администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг
        - администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами
        - в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса

        Условия действия Соглашения
        Данное Соглашение вступает в силу при любом использовании данного сайта.
        Соглашение перестает действовать при появлении его новой версии.
        Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.
        Администрация не оповещает пользователей об изменении в Соглашении.
    </div>
</div>
{% endblock %}